<a href="#" class="hover-3d my-12 mx-2 cursor-pointer">

  <!-- content -->
  <div class="card w-96 text-white bg-cover bg-center bg-[url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fus-tuna-sounds-images.voicemod.net%2F49b2fe3d-4a51-4663-af74-abb87bc4549d-1664947671830.jpg&f=1&nofb=1&ipt=af76239f3b311fa30b4c42aacf443039d57259b37b136b79856b0106bf3a9153')]">
    <div class="card-body">
      <div class="flex justify-between mb-10">
        <div class="font-bold">BANK NOROBAR</div>
        <div class="text-5xl opacity-10">❁</div>
      </div>
      <div class="text-lg mb-4 opacity-40">0210 8820 1150 0222</div>
      <div class="flex justify-between">
        <div>
          <div class="text-xs opacity-20">CARD HOLDER</div>
          <div>RAFAEL PRIETO</div>
        </div>
        <div>
          <div class="text-xs opacity-20">EXPIRES</div>
          <div>29/08</div>
        </div>
      </div>
    </div>
  </div>

  <!-- 8 empty divs needed for the 3D effect -->
  <div></div><div></div><div></div><div></div>
  <div></div><div></div><div></div><div></div>

</a>
